.main{
    width: 100%;
}
.update{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    max-width: 500px;
    margin: 0 auto;
    height: calc(100vh - var(--headerHeight) - 2rem);
    border-radius: var(--borderrHigh);
    background-color: var(--bgCardColor);
}
.title{
    align-self: center;
}
.update-img img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: var(--borderrLow);
}
.update-img input[type="file"]{
    max-width: 100%;
}
.update-item{
    display: grid;
    gap: .3rem;
    grid-template-columns: max-content 1fr;
    justify-items: stretch;
    align-items: center;
}
.update-item.one-col{
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    align-items: stretch;
}
.update-item *:last-child{
    justify-self: end;
}
.update-item input,
.update-item textarea{
    border: none;
    outline: none;
    background-color: var(--bgCardColor);
    border-radius: var(--borderrLow);
    text-align: end;
    resize: none;
}
.update-item.one-col textarea{
    padding: .3rem;
    width: 100%;
    text-align: left;
    height: 5rem;
    font-size: inherit;
    font-family: inherit;
}

.update-versiones{
    display: flex;
    gap: .5rem;
    overflow: auto;
}
.update-version{
    flex-shrink: 0;
    padding: 1rem;
    width: 100%;
    max-width: 350px;
    border-radius: var(--borderrHigh);
    background-color: var(--bgColor);
    overflow: auto;
}