.main > *{
    padding: 1rem;
}
.products-actions{
    display: flex;
    align-items: center;
    overflow: auto;
}
.products-actions > *{
    flex-shrink: 0;
}
.product-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: .5rem;
}
.product-cards app-loader{
    grid-column: 1 / -1;
}
.empty{
    text-align: center;
}

@media screen and (min-width: 600px) {
    .product-cards{
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}