main{
    display: grid;
    padding: 1rem;
}
.line-separator{
    margin: 1rem 0;
}
main > section{
    display: grid;
    gap: .5rem;
    max-height: 400px;
    overflow: auto;
}
.pedidos{
    display: grid;
    gap: .5rem;
}
.cart-empty{
    text-align: center;
    font-size: 1.2rem;
}