main{
    display: grid;
    gap: .5rem;
    display: grid;
    padding: 1rem;
}
.line-separator{
    margin: 1rem 0;
}
main > section{
    display: grid;
    gap: .5rem;
    overflow: auto;
}
main > section:not(.mis-pedidos){
    max-height: 400px;
}
.pedidos-buttons{
    display: grid;
    grid-template-columns: repeat(auto-fill, 160px);
    gap: .5rem;
}
.pedidos{
    display: grid;
    gap: .5rem;
}
.cart-empty{
    text-align: center;
    font-size: 1.2rem;
}