<app-header></app-header>
<main class="main">
    @if (!isLogin()) {
        <section class="welcome content">
            <img src="/assets/images/welcome.svg" alt="Imagen de bienvenida">
            <h1>Bienvenido/a</h1>

            <div class="scroll-down">
                <fa-icon [icon]="iconChevron"></fa-icon>
            </div>
        </section>
    }@else {
        <section class="user-section content">
            <article class="user-section-header" data-aos="fade-up">
                <h1>Hola <span class="gradient-text">{{usuarioService.firstName}}</span>.</h1>
                <p>En esta sección de inicio, podrás navegar y obtener ayuda sobre el uso de la aplicación.</p>
            </article>

            <article class="user-actions">
                <div class="user-action-desc" [class.loading]="loading" [class.resumen]="resumen" data-aos="fade-right" data-aos-delay="100">
                    @if (!isAdmin() || (!loading && !resumen)) {
                        <img src="/assets/images/nav-tour.svg" alt="Imagen de navegación">
                        <h2>Páginas que puedes visitar.</h2>
                    }@else {
                        @if (loading) {
                            <app-loader size="5rem"></app-loader>
                        }@else {
                            <div class="data">
                                <span class="circle">{{resumen?.pedidosPendientes}}</span>
                                <p>Pedidos Pendientes</p>
                            </div>
                            <div class="data">
                                <span class="circle">{{resumen?.pedidosConfirmados}}</span>
                                <p>Pedidos Confirmados</p>
                            </div>
                            <div class="data">
                                <span class="circle">{{resumen?.productosStock}}</span>
                                <p>Stock de Productos</p>
                            </div>
                            <div class="data">
                                <span class="circle">{{resumen?.productosNoDisponibles}}</span>
                                <p>Productos no Disponibles</p>
                            </div>
                        }
                    }
                </div>
                <div class="user-action cursor" data-aos="fade-left" data-aos-delay="100" routerLink="/productos">
                    <span>Ver Productos</span>
                    <fa-icon [icon]="iconChevron"></fa-icon>
                </div>
                <div class="user-action cursor" data-aos="fade-left" data-aos-delay="200" routerLink="/cart">
                    <span>Ver Pedidos</span>
                    <fa-icon [icon]="iconChevron"></fa-icon>
                </div>
                @if (isAdmin()){
                    <div class="user-action cursor" data-aos="fade-left" data-aos-delay="300" routerLink="/">
                        <span>Ver Estadísticas</span>
                        <fa-icon [icon]="iconChevron"></fa-icon>
                    </div>
                }@else{
                    <div class="user-action cursor" data-aos="fade-left" data-aos-delay="300" routerLink="/settings/account/update">
                        <span>Cambiar Información del Perfil</span>
                        <fa-icon [icon]="iconChevron"></fa-icon>
                    </div>
                }
                <div class="user-action cursor" data-aos="fade-left" data-aos-delay="400" routerLink="/settings">
                    <span>Ir a Ajustes</span>
                    <fa-icon [icon]="iconChevron"></fa-icon>
                </div>
            </article>
        </section>

    }

    <section class="about content">
        <h2 data-aos="fade-down">Sobre Nosotros</h2>
        <p data-aos="fade-down-left">
            Bienvenido a <strong>[Nombre del Emprendimiento]</strong>, tu lugar de confianza para productos de carpintería únicos y de alta calidad. Especializados en la creación de casitas de niños y casas para perros, también ofrecemos una variedad de otros productos como muebles pequeños y portaplantas.
        </p>
        <p data-aos="fade-down-right">
            Nuestra plataforma está diseñada para facilitar tus pedidos de manera sencilla y eficiente. Explora nuestro catálogo, <strong>selecciona los productos</strong> que más te gustan y <strong>realiza tu pedido</strong> con solo unos clics. Cada solicitud es revisada por el fabricante.
        </p>
        <p data-aos="fade-down-left">
            No solo atendemos a clientes particulares, sino también a <strong>proveedores</strong> que buscan productos de carpintería. Ofrecemos una amplia gama de opciones y precios para las compras al por mayor.
        </p>
        <p data-aos="fade-down-right">
            Agradecemos tu visita y tu interés en <strong>nuestros productos.</strong> ¡Gracias por apoyarnos y confiar en nosotros para tus proyectos!
        </p>
    </section>

    @if (!isLogin()) {
        <section class="section-incentive-register content">
            <article class="incentive-register-header" data-aos="fade-up">
                <h2>Crear una Cuenta</h2>
                <p>
                    Al registrarte desbloqueas una serie de beneficios exclusivos diseñados para mejorar tu experiencia en la compra. Revisa los beneficios de tener una cuenta:
                </p>
            </article>
            <article class="incentive-register-body">
                <div class="not-register-actions" data-aos="fade-up">
                    <h3>Sin una cuenta</h3>
                    <div class="beneficios">
                        <fa-icon [icon]="iconCheck" class="check"></fa-icon>
                        <span>Hacer Pedidos</span>
                        <fa-icon [icon]="iconClose" class="close"></fa-icon>
                        <span>Ver el precio de forma directa</span>
                        <fa-icon [icon]="iconClose" class="close"></fa-icon>
                        <span>Ver Pedidos Realizados</span>
                        <fa-icon [icon]="iconClose" class="close"></fa-icon>
                        <span>Gestionar Pedidos (Cancelarlos o Actualizarlos)</span>
                        <fa-icon [icon]="iconClose" class="close"></fa-icon>
                        <span>Más probabilidades de obtener un descuento</span>
                    </div>
                </div>
                <div class="register-actions" data-aos="fade-up">
                    <h3>Con una cuenta</h3>
                    <div class="beneficios">
                        <fa-icon [icon]="iconCheck" class="check"></fa-icon>
                        <span>Hacer Pedidos</span>
                        <fa-icon [icon]="iconCheck" class="check"></fa-icon>
                        <span>Ver el precio de forma directa</span>
                        <fa-icon [icon]="iconCheck" class="check"></fa-icon>
                        <span>Ver Pedidos Realizados</span>
                        <fa-icon [icon]="iconCheck" class="check"></fa-icon>
                        <span>Gestionar Pedidos (Cancelarlos o Actualizarlos)</span>
                        <fa-icon [icon]="iconCheck" class="check"></fa-icon>
                        <span>Más probabilidades de obtener un descuento</span>
                    </div>
                </div>
            </article>
            <button class="btn btn-primary" routerLink="/signup" data-aos="fade-up">CREAR CUENTA</button>
        </section>
    }
</main>