.main{
    width: 100%;
    background-image: linear-gradient(-45deg, var(--gradientColor));
    background-attachment: fixed;
    min-height: calc(100vh - var(--headerHeight));
}
main > section{
    padding: 2rem 1rem;
    display: grid;
    align-content: center;
    gap: 1.5rem;
    min-height: calc(100vh - 4rem);
    overflow: hidden;
}
main > section:first-child{
    min-height: calc(100vh - var(--headerHeight) - 2rem);
}


.welcome{
    position: relative;
    color: var(--bgCardColor);
}
.welcome img{
    justify-self: center;
    max-width: 300px;
}
.welcome h1{
    font-size: clamp(2.5rem, 7vw, 6rem);
    text-align: center;
}
.scroll-down{
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    font-size: 3rem;
    transform: rotate(90deg) translateX(-50%);
    animation: up-down 1.5s 3s ease-in-out 15 both;
}
@keyframes up-down {
    0%{
        bottom: -1.5rem;
    }
    50%{
        bottom: .5rem;
    }
    100%{
        bottom: -1.5rem;
    }
}


.about h2{
    font-size: clamp(2rem, 7vw, 4rem);
    text-align: center;
}
.about > p{
    padding: 1rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgColor);
    width: 90%;
}
.about > p:nth-child(odd){
    justify-self: end;
}


.user-section-header, .user-action{
    padding: 1rem 1.5rem; 
    border-radius: var(--borderrMid);
    background-color: var(--bgColor);
}
.user-section-header{
    display: grid;
    gap: .5rem;
}
.user-section-header h1{
    font-size: clamp(2rem, 7vw, 3rem);
}
.user-actions{
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-columns: repeat(auto-fill,1fr);
    gap: .5rem 1.5rem;
}
.user-action-desc{
    grid-row: 1 / 5;
    align-self: stretch;
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: var(--bgColor);
    border-radius: var(--borderrMid);
    padding: 1rem;
}
.user-action-desc h2{
    font-size: 1rem;
    text-align: center;
}
.user-action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-weight: bold;
    background-image: linear-gradient(to right, var(--gradientColor));
    /* background-color: var(--mainColorLight); */
    color: var(--bgCardColor);
    transition: var(--transitionLow);
}
.user-action:hover{
}
.user-action > fa-icon{
    font-size: 1.3rem;
}