<back-btn></back-btn>
<main class="main">
    <section class="settings-nav">
        <div class="logout cursor" (click)="onLogout()">Cerrar Sesión</div>
        <h1 class="title">Ajustes</h1>
        <back-btn></back-btn>
        <article class="setting">
            <h2>Cuenta</h2>
            <div class="change-pass">Cambiar Clave</div>
            <div class="line-separator"></div>
            <div class="logout cursor" (click)="onLogout()">Cerrar Sesión</div>
        </article>
    </section>
</main>