.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - var(--headerHeight));
}
.forget-pass{
    display: grid;
    gap: 1.5rem;
    padding: 1rem;
    width: 100%;
    max-width: 500px;
    border-radius: var(--borderrHigh);
    background-color: var(--bgCardColor);
}
.title{
    justify-self: center;
}
.forget-pass-advert{
    display: flex;
    gap: .5rem;
    align-items: center;
}
.forget-pass-advert > span{
    font-size: .8rem;
}
form{
    display: grid;
    gap: 1rem;
}
.form-actions{
    display: grid;
    grid-template-columns: 1fr;
}
.form-actions > *:not(button){
    grid-column: 1 / -1;
}

@media screen and (min-width: 400px) {
    .form-actions{
        grid-template-columns: 1fr 1fr;
    }
}