<app-header></app-header>
<main class="main content">
    <section class="forget-pass" style="view-transition-name: forget-pass;">
        <h1 class="title">Recuperar Clave</h1>
        <p class="forget-pass-advert">
            <fa-icon [icon]="iconAdvert"></fa-icon>
            <span>Para intentar recuperar tu clave completa el formulario, usaremos estos datos para verificar que eres el dueño de la cuenta.</span>
        </p>
        <form [formGroup]="form">
            <div class="form-div" [class.error]="hasOneError('correo')" [class.withValue]="hasValue('correo')">
                <div class="form-div-input">
                    <input type="email" formControlName="correo">
                    <label>Correo</label>
                </div>

                @if (hasError('correo', 'required')) {
                    <p class="form-div-error">El correo es requerido.</p>
                }
                @if (hasError('correo', 'email')) {
                    <p class="form-div-error">El correo es inválido.</p>
                }
            </div>

            <div class="form-div" [class.error]="hasOneError('telefono')" [class.withValue]="hasValue('telefono')">
                <div class="form-div-input">
                    <input type="tel" formControlName="telefono">
                    <label>Telefono</label>
                </div>
                @if (hasError('telefono', 'required')) {
                    <p class="form-div-error">El telefono es requerido.</p>
                }
                @if (hasError('telefono', 'pattern')) {
                    <p class="form-div-error">El formato del telefono es +00 0000 000000.</p>
                }
            </div>

            <div class="form-div withValue" [class.error]="hasOneError('fechaNacimiento')">
                <div class="form-div-input">
                    <input type="date" formControlName="fechaNacimiento">
                    <label>Fecha Nacimiento</label>
                </div>

                @if (hasError('fechaNacimiento', 'required')) {
                    <p class="form-div-error">La fecha de nacimiento es requerida.</p>
                }
            </div>
        </form>
        <div class="form-actions">
            @if (loading) {
                <app-loader></app-loader>
            }@else {
                <button class="btn btn-simple red cursor" (click)="onCancelar()">CANCELAR</button>
                <button class="btn btn-simple cursor" (click)="onSubmit()">RECUPERAR</button>
            }
        </div>
    </section>
</main>