.producto{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgCardColor);
}
.producto-title{
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--mainColor);
}
.versiones{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: .5rem;
}
.version{
    display: grid;
    gap: 1rem;
    padding: 1rem;
    border-radius: var(--borderrMid);
    background-color: var(--bgColor);
    transition: var(--transitionMid);
}
.version.bgCard{
    background-color: var(--bgCardColor);
}
.version.selected{
    padding: 1.5rem 1rem;
    background-color: var(--mainLowAlphaColor);
}
.version-name{
    text-align: center;
    font-weight: bold;
}
.version-name .name-desc{
    font-size: .8rem;
    color: var(--mainColor);
    font-weight: normal;
}
.version-actions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.version-actions .btn{
    padding: .5rem;
}


.version-price{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.version-price.line:not(:last-child)::after{
    content: '';
    display: inline-block;
    position: absolute;
    top: calc(100% + .5rem);
    left: 5%;
    width: 90%;
    height: 1px;
    background-color: var(--greyAlphaColor);
}
.version-price > p:first-child{
    font-weight: bold;
    color: var(--mainColor);
}
.version-price .diference{
    font-weight: normal;
    color: var(--mainColor);
}
.version-price .diference.negative{
    color: var(--errorColor);
}
.price-content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    justify-items: center;
}
.price-content > fa-icon{
    transform: rotate(90deg);
}
.price-content > span:first-child{
    font-weight: normal;
}
.other-options{
    display: grid;
    gap: 1rem;
}
.other-options .generated{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.option{
    padding: .3rem;
    border: 2px solid var(--mainColor);
    border-radius: 2rem;
    font-size: .9rem;
    user-select: none;
}
.other-options .custom{
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 1rem;
    align-items: center;
}
.other-options .custom .icon-share{
    font-size: 1.2rem;
    color: var(--mainColor);
}
@media screen and (min-width:450px) {
    .price-content{
        flex-direction: row;
    }
    .price-content > fa-icon{
        transform: rotate(0);
    }
}