@if (producto) {
    <div class="producto">
        <p class="producto-title">{{producto ? producto.nombre : selected?.nombre| titlecase}}</p>
        <div class="versiones">
            @for (ver of producto.versiones; track ver.id) {
                <div class="version" [class.selected]="priceService.isInSelecteds(ver.id)" [style]="'view-transition-name: version-price-'+ver.id+';'">
                    <div class="version-name">{{ver.nombre | titlecase}} <span class="name-desc">{{getTitleDesc(ver.id)}}</span></div>
                    <div class="version-price">Precio Público: {{ver.precio | currency}} ARS</div>
                    <div class="version-price">Precio Reventa: {{ver.precioDescuento | currency}} ARS</div>
                    <div class="version-actions">
                        <button class="btn btn-simple cursor" (click)="toggleSelection(ver, 0)">Precio Público</button>
                        <button class="btn btn-simple cursor" (click)="toggleSelection(ver, 1)">Precio Reventa</button>
                        <button class="btn btn-simple cursor" (click)="toggleSelection(ver, 2)">Seleccionar Ambos</button>
                    </div>
                </div>
            }
        </div>
    </div>  
}
@if(selected) {
    <div class="version bgCard" [style]="'view-transition-name: version-price-'+selected.id+';'">
        <div class="version-name">{{selected.nombre | titlecase}}</div>
        @if (selected.precio) {
            <div class="version-price line">
                <p>Precio Público: </p>
                <div class="price-content">
                    <span>{{selected.precio | currency}} ARS</span>
                    @if(selected.precioNuevo){
                        <fa-icon [icon]="iconArrow"></fa-icon>
                        <span>
                            {{selected.precioNuevo | currency}} ARS

                            <span class="diference" [class.negative]="diference(selected.precio, selected.precioNuevo)<0">({{
                                diference(selected.precio, selected.precioNuevo) > 0
                                    ? '+'+ (diference(selected.precio, selected.precioNuevo) | currency)
                                    : diference(selected.precio, selected.precioNuevo) | currency
                            }})</span>
                        </span>
                        
                    }
                </div>
                <div class="other-options">
                    <p>Otras Opciones:</p>
                    <div class="generated">
                        @for (n of getRound(selected.precioNuevo, 10); track $index) {
                            <span class="option cursor">{{n|currency}}</span>
                        }
                        @for (n of getRound(selected.precioNuevo, 100); track $index) {
                            <span class="option cursor">{{n|currency}}</span>
                        }
                    </div>
                </div>
            </div>
        }
        @if (selected.precioDescuento) {
            <div class="version-price line">
                <p>Precio Reventa: </p>
                <div class="price-content">
                    <span>{{selected.precioDescuento | currency}} ARS</span>
                    @if(selected.precioDescuentoNuevo){
                        <fa-icon [icon]="iconArrow"></fa-icon>
                        <span>
                            {{selected.precioDescuentoNuevo | currency}} ARS
                            <span class="diference" [class.negative]="diference(selected.precioDescuento, selected.precioDescuentoNuevo)<0">({{
                                diference(selected.precioDescuento, selected.precioDescuentoNuevo) > 0
                                    ? '+'+ (diference(selected.precioDescuento, selected.precioDescuentoNuevo) | currency)
                                    : diference(selected.precioDescuento, selected.precioDescuentoNuevo) | currency
                            }})</span>
                        </span>
                        
                    }
                </div>
                <div class="other-options">
                    <div class="generated">
                        @for (n of getRound(selected.precioDescuentoNuevo, 10); track $index) {
                            <span class="option cursor">{{n|currency}}</span>
                        }
                        @for (n of getRound(selected.precioDescuentoNuevo, 100); track $index) {
                            <span class="option cursor">{{n|currency}}</span>
                        }
                    </div>
                </div>
            </div>
        }
        <!-- <div class="version-actions">
            <button class="btn btn-simple cursor" (click)="toggleSelection(selected.id, 0)">Precio Público</button>
            <button class="btn btn-simple cursor" (click)="toggleSelection(selected.id, 1)">Precio Reventa</button>
            <button class="btn btn-simple cursor" (click)="toggleSelection(selected.id, 2)">Seleccionar Ambos</button>
        </div> -->
    </div>
}