/* You can add global styles to this file, and also import other style files */
:root{
    --mainColor: #00A86B;
    /* --mainColor: #AAF0D1; */
    --mainColorBack: #34c274;
    --secondColor: #01f59b;
    --mainAlphaColorBack: #00A86B44;
    --mainLowAlphaColor: #00A86B22;
    --mainMidAlphaColor: #00A86B55;
    --bgColor: #f1f1f1;
    --bgSecondColor: #ddd;
    --bgCardColor: #fafafa; /* #e9e9e9 */
    --bgCardAlphaColor: #fafafa55; /* #e9e9e9 */
    --textColor: #333;
    --textAlphaColor: #333b;

    /* --gradientColor: #0a6e97, #5ca3d4, #AAF0D1; */
    --gradientColor: #01925d, #21bd67, #44ffba;

    --greyColor: #787878;
    --greyAlphaColor: #78787878;
    --greyAlphaLightColor: #78787833;
    --errorColor: #E34234;
    --errorAlphaColor: #E3423498;
    --errorAlphaLowColor: #E3423439;
    --greenColor: #31c031;
    --greenAlphaColor: #31c03177;

    --borderrHigh: 1rem;
    --borderrMid: .5rem;
    --borderrLow: .3rem;
    --headerHeight: 50px;

    --transitionLow: 1s; 
    --transitionMid: .5s; 
    --transitionFast: .3s; 
    --transitionUltraFast: .2s; 

    --maxWidth: 1024px
}
*,*::after,*::before{
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: var(--textAlphaColor);
    background-color: var(--bgColor);
}


a{
    text-decoration: none;
    color: var(--mainColor);
}
p,h1,h2,h3{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
    width: 100%;
}
input, textarea{
    font-size: inherit;
}
main.paddbot{
    padding-bottom: 80px !important;
}



.box-shadow{
    box-shadow: 0 0 1rem 0 var(--greyAlphaColor);
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: .5rem 1rem;
    font-size: 1em;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: var(--borderrLow);
    background-color: var(--bgColor);
    transition: var(--transitionFast);
    color: var(--textColor);
    user-select: none;
    --bgHover: var(--mainAlphaColorBack);
    --bgActive : var(--mainColor);
    --textColor: var(--mainColor)
}
.btn:disabled{
    opacity: .5;
    cursor: default;
}
.btn.red{
    --bgHover: var(--errorAlphaLowColor);
    --bgActive : var(--errorColor);
    --textColor: var(--errorColor);
}
.btn.neutro{
    --bgHover: var(--greyAlphaLightColor);
    --bgActive : var(--greyAlphaColor);
    --textColor: var(--greyColor);
}
.btn.btn-simple{
    background-color: transparent;
}
.btn.btn-simple:hover{
    background-color: var(--bgHover);
}
.btn.btn-simple:active{
    background-color: var(--bgActive);
    color: var(--bgCardColor);
}
.btn.btn-primary{
    background-color: var(--mainColor);
    color: var(--bgCardColor);
}
.btn-circle{
    background-color: transparent;
    border: 2px solid var(--textColor);
    border-radius: 2rem;
}
.btn-circle.active{
    background-color: var(--textColor);
    border-color: var(--bgCardColor);
    color: var(--bgCardColor);
}



.content{
    padding: 0 1rem;
    width: 100%;
    max-width: var(--maxWidth);
    margin: 0 auto;
}
.cursor, a, button{
    cursor: default;
}
.gradient-text{
    background: linear-gradient(to left, var(--gradientColor));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.hidden{
    display: none;
    opacity: 0;
}
.title{
    display: inline-block;
    justify-self: start;
    margin-bottom: .5rem;
    position: relative;
    color: var(--textColor);
}
.title::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 3px;
    border-radius: 3px;
    background-color: var(--mainColor);
}
.toggle{
    position: relative;
    display: inline-block;
    width: 2.5rem;
    height: 1.25rem;
    background-color: var(--bgSecondColor);
    border-radius: 1rem;
    transition: var(--transitionFast);
}
.toggle::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--textAlphaColor);
    transform: scale(.8);
    transition: var(--transitionFast);
}
.toggle.active{
    background-color: var(--mainAlphaColorBack);
}
.toggle.active::after{
    left: 50%;
    background-color: var(--mainColor);
}
.line-separator{
    margin: .5rem 0;
    padding: 0 1rem;
    width: 100%;
    height: 2px;
    background-color: var(--greyAlphaLightColor);
}



/* Form Styles */
form{
    display: grid;
    gap: 1rem;
}
.form-div-input{
    position: relative;
    padding: .2rem .3rem;
    border: 2px solid var(--mainColor);
    border-radius: var(--borderrMid);
    transition: var(--transitionUltraFast), border-color var(--transitionMid) ;
}
.form-div-toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem .3rem;
    border-top: 2px solid var(--greyAlphaLightColor);
    border-bottom: 2px solid var(--greyAlphaLightColor);
    transition: var(--transitionMid);
}
.form-div-toggle.active{
    border-color: var(--mainAlphaColorBack);
}
.form-div.error .form-div-input{
    border: 2px solid var(--errorColor);
}
.form-div-input input,
.form-div-input textarea{
    width: 100%;
    height: 100%;
    font-size: 1em;
    font-family: inherit;
    outline: none;
    border: none;
    resize: none;
    background-color: inherit;
}
.form-div-input label{
    position: absolute;
    top:.3rem;
    left: .5rem;
    color: var(--textAlphaColor);
    font-weight: bold;
    transition: var(--transitionUltraFast), color var(--transitionMid);
    user-select: none;
    cursor: text;
    pointer-events: none;
}
.form-div .form-div-input input:focus ~ label,
.form-div .form-div-input textarea:focus ~ label,
.form-div.withValue .form-div-input label{
    top: -.7rem;
    left: .3rem;
    font-size: .8rem;
    padding: 0 .2rem;
    background-color: var(--bgCardColor);
    cursor: default;
}
.form-div:not(.error) input:focus ~ label,
.form-div:not(.error) textarea:focus ~ label,
.form-div.withValue:not(.error)  label{
    color: var(--mainColor);
}
.form-div.error label{
    color: var(--errorColor);
}
.form-div-error{
    font-weight: bold;
    font-size: 80%;
    color: var(--errorColor);
}



@media screen and (min-width: 400px) {
    .cursor, a, button{
        cursor: pointer;
    }
}